<h1>Welcome</h1>
<%= @user.email %>
<% if !@user.name%>
<h1>Enter your name!</h1>
	<%= form_for @user do |f|%>
		<%= f.label :name%>
		<%= f.text_field :name%>
		<%= f.submit %>
	<%end%>
<%end%>
<h3>This is a rails application that I created to mimic a quest system in many of the games that I enjoy. Off to the left is your navigation menu, feel free to explore and enjoy!</h3>
<h3>Some info about this app:</h3>
<ul>
	<li>Ruby on Rails</li>
	<li>Devise login/persistence</li>
	<li>OmniAuth facebook login optional</li>
	<li>Use of es6 javascript classes</li>
	<li>JQuery DOM manipulation</li>
	<li>Hosted on Heroku</li>
</ul>