<h1 id='portalLocation'><%= link_to portal.location, portal %></h1>
<h4>Created by: <span id='portalGod'><%= portal.user.name %></span></h4>
<button class="viewQuests" data-id="<%= portal.id %>"><h3>View Quests</h3></button>
<div id='quests'></div>

<!--<ul>
	<% portal.quests.each do |q| %>
		<li>
			<p><%= link_to q.title, q %></p>
			<p>Karma: <%= q.karma_impact %></p>
			<p>Participants: <%= q.list_users %></p>
		</li>
	<%end%>
</ul>-->