<h1><%= link_to portal.location, portal %></h1>
<h4>Created by: <%= portal.user.name %></h4>
<button id="portal-<%= portal.id %>" class="viewQuests"><h3>View Quests</h3></button>


<!--<ul>
	<% portal.quests.each do |q| %>
		<li>
			<p><%= link_to q.title, q %></p>
			<p>Karma: <%= q.karma_impact %></p>
			<p>Participants: <%= q.list_users %></p>
		</li>
	<%end%>
</ul>-->