<!DOCTYPE html>
<html>
  <head>
    <title>RailsPortals</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <p class="notice"><%= flash[:message] if flash[:message] %></p>
    <%= yield %>
    <p><%= link_to('Sign out', destroy_user_session_path, method: :delete) if current_user%></p>
  </body>
</html>
